body {
    background: rgb(9, 170, 199);
    font: normal 15px Arial;
}

header {
color: white;
text-align: center;

}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px black;
}

div {
    text-align: center;
    font: normal 20px bold;
    background-color: chartreuse;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}